.dark{
    background-color:#222;
    color:rgb(156 , 156, 156);
}
.navbar{
    color:#999;
    border-color:#333;
}
.search{
    border-color:grey;
}
input::placeholder{
    font-size: 12px;
    color:white;
}
hr{
    border-color:#333;
}