.sidebar_component{
    flex: 1;
    height: 100vh;
            border-right: 0.15px solid rgb(199, 198, 198);
}
.top{
    color: rebeccapurple;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5%;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    margin-left:5%;
}
hr{
    height: 0;
    border: 0.5px solid  rgb(175, 175, 175);
}
.center{
    padding-left:10px
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.title {
    font-size:10px;
    font-weight: bold;
    color:#999;
    margin-top:15px;
    margin-bottom:5px;
}
li{
    display: flex;
    align-items: center;
    padding:5px;
    cursor: pointer;
}
li:hover{
    background-color: #ece8ff;
}
.icon{
    font-size:18px;
    color:#7451f8
}
span{
    font-size: 13px;
    font-weight: 600;
    color: rgb(15, 123, 211);
    margin-left: 10px;
}

.bottom{
    display:flex;
    align-items: center;
    margin: 10px;
}

.colorchanger{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
}
.colorchanger:nth-child(1){
    background-color: whitesmoke;
}
.colorchanger:nth-child(2) {
    background-color:#333;
}
