tbody tr th img{
    height: 40px;
    border-radius: 50%;
}

/* .MuiTableCell-root .table_head{
    margin-left: 10px;
    padding: 0;
}

.MuiTableCell-root{
    background-color: #0c062f;
    color: white;
    font-weight: bold;
}

.MuiTableCell-head .table_head{
    color: white;
} */